@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@layer utilities {
  /* #region  /**=========== Fade In =========== */
  [data-fade] {
    @apply translate-y-10 opacity-0 transition duration-300 ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
  }
  .fade-in-start [data-fade] {
    @apply translate-y-0 opacity-100;
  }
  .fade-in-start [data-fade='1'] {
    transition-delay: 100ms;
  }
  .fade-in-start [data-fade='2'] {
    transition-delay: 200ms;
  }
  .fade-in-start [data-fade='3'] {
    transition-delay: 300ms;
  }
  .fade-in-start [data-fade='4'] {
    transition-delay: 400ms;
  }
  .fade-in-start [data-fade='5'] {
    transition-delay: 500ms;
  }
  .fade-in-start [data-fade='6'] {
    transition-delay: 600ms;
  }
  .fade-in-start [data-fade='7'] {
    transition-delay: 700ms;
  }
  .fade-in-start [data-fade='8'] {
    transition-delay: 800ms;
  }
  .fade-in-start [data-fade='9'] {
    transition-delay: 900ms;
  }
  /* #endregion  /**======== Fade In =========== */

  .btn_white {
    @apply border-white bg-white px-8 py-3 text-green-500
  }

  .btn_white_text {
    @apply border-white bg-white px-8 py-3 text-gray-900
  }

  .btn_yellow {
    @apply bg-yellow-500 px-8 py-5 text-white
  }

  .btn_green {
    @apply border-green-500 bg-green-500 px-8 py-5 text-white
  }

  .btn_dark_green {
    @apply bg-gray-900 px-8 py-5 text-white transition-all
  }

  .btn_dark_green_outline {
    @apply border-gray-200 bg-gray-900 px-8 py-5 text-white
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .title-icon {
    @apply absolute left-[-5px] top-[-40px] w-10 lg:w-[50px]
  }

  .w-button {
    @apply transition-transform hover:scale-105
  }

  /* HERO STYLES */
  .hero-section-wrapper {
    @apply relative flex flex-col gap-20 py-10 pb-32 lg:py-40 xl:flex-row
  }

  .hero-image {
    @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60;
  }

  .hero-title {
    @apply bold-52 lg:bold-88 text-white
  }

  .hero-description {
    @apply regular-16 mt-6 text-white xl:max-w-[520px]
  }

  .hero-button-wrapper {
    @apply my-11 flex w-full flex-col gap-3 sm:flex-row
  }

  /* NAV BAR STYLES */

  .logo-link {
    @apply text-2xl font-semibold text-yellow-500
  }
  
  .nav-menu-icon {
    @apply inline-block cursor-pointer lg:hidden
  }

  .nav-link-mobile-wrapper {
    @apply flex flex-col items-center gap-4 mt-10
  }

  .nav-link-mobile {
    @apply w-full cursor-pointer border-b border-solid border-gray-300 
    pb-1.5 text-lg text-gray-500 hover:font-bold
  }
  
  .nav-link {
    @apply regular-18 bold-16 flexCenter cursor-pointer pb-1.5 text-gray-500 transition-all hover:text-gray-900
  }

  .nav-button-wrapper {
    @apply lg:flexCenter hidden
  }

  .nav-menu-mobile {
    @apply fixed inset-x-0 bottom-0 z-50 bg-white lg:hidden
  }

  .nav-menu-mobile-buttons-wrapper {
    @apply mt-4 flex flex-1 justify-center gap-3
  }

  /* FOOTER STYLES */
  .footer-wrapper {
    @apply flex flex-col items-start justify-center gap-[10%] md:flex-row
  }

  .footer-links-wrapper {
    @apply flex flex-wrap gap-10 sm:justify-between md:flex-1
  }

  .footer-column-one-wrapper {
    @apply regular-14 flex flex-col gap-4 text-gray-500
  }

  .footer-column-two-wrapper {
    @apply flex gap-4 md:flex-col lg:flex-row
  }

  .footer-rights {
    @apply regular-14 w-full text-center text-gray-500
  }

  /* PRODUCT RANGE STYLES */
  .product-item-wrapper {
    @apply overflow-hidden rounded-md bg-white shadow-lg transform-gpu hover:scale-105 hover:shadow-xl
  }

  .product-item-title-wrapper {
    @apply flex flex-col justify-center p-4
  }

  .product-item-title {
    @apply mb-2 text-center text-xl font-semibold
  }

  .product-range-section-wrapper {
    @apply flexCenter flex-col overflow-hidden py-24 bg-[#f5f5f5]
  }

  .product-range-items-wrapper {
    @apply mt-10 grid gap-10 md:grid-cols-3 lg:mt-20 lg:gap-10
  }

  /* IMAGE GALLERY STYLES */
  .image-item-wrapper {
    @apply overflow-hidden rounded-md
  }

  .image-gallery-section-wrapper {
    @apply flexCenter flex-col overflow-hidden py-24 bg-[#c6bfa8]
  }

  .image-gallery-items-wrapper {
    @apply grid gap-10 md:grid-cols-4 lg:gap-10
  }

  /* FEATURES STYLES */
  .features-section-wrapper {
    @apply flexCenter flex-col overflow-hidden bg-center bg-no-repeat pb-24 pt-24 lg:pt-0 bg-[#f5f5f5]
  }

  .features-list-item-wrapper {
    @apply grid gap-10 md:grid-cols-3 lg:mt-20 lg:gap-20
  }

  .feature-list-item {
    @apply flex w-full flex-1 flex-col items-start
  }

  .feature-item-image-wrapper {
    @apply rounded-full bg-yellow-500 p-4 lg:p-5
  }

  .feature-item-title {
    @apply bold-20 lg:bold-32 mt-5 capitalize
  }

  .feature-item-description {
    @apply regular-16 mt-5 text-[#878069] lg:mt-[30] lg:bg-none
  }

  /* CONTACT STYLES */
  .contact-section-wrapper {
    @apply flexCenter flex-col overflow-hidden bg-center bg-no-repeat py-24 
  }

  .contact-title {
    @apply bold-40 lg:bold-64
  }

  .contact-main-wrapper {
    @apply max-container padding-container relative flex w-full justify-center lg:justify-between
  }

  .contact-form-title {
    @apply mb-2 flex items-center text-2xl font-bold bg-none
  }

  .contact-form-description {
    @apply regular-16 text-[#878069] bg-none mt-3 lg:max-w-[35rem]
  }

  .contact-form-input {
    @apply w-full appearance-none rounded border px-3 py-2 leading-tight
  }

  /* CALL TO ACTION STYLES */
  .cta-link-wrapper {
    @apply relative inset-0 flex w-full flex-col justify-center px-[20%] md:px-[5%] lg:px-[15%]
  }

  .cta-wrapper {
    @apply relative grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-8
  }

  .cta-content-wrapper {
    @apply flex flex-col items-center md:max-w-[31rem] md:items-start md:justify-center
  }

  .cta-title {
    @apply bold-40 lg:bold-64 text-center text-3xl font-medium leading-tight md:text-left md:text-4xl lg:text-5xl xl:text-5xl
  }

  .cta-description {
    @apply text-center text-gray-500 md:text-left
  }

  /* ABOUT PAGE STYLES */
  .about-title {
    @apply bold-40 lg:bold-64 text-4xl font-medium sm:text-5xl md:text-5xl lg:text-6xl
  }

  .about-content-wrapper {
    @apply relative mt-[2.5rem] grid grid-cols-1 gap-20 md:mt-[5.5rem] lg:mt-[7.5rem] lg:grid-cols-2
  }

  .about-image-wrapper {
    @apply relative inset-0 flex w-full justify-center
  }

  /* PRODUCT CARD STYLES */
  .product-card-wrapper {
    @apply w-full shrink-0 cursor-pointer p-4 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4
  }

  .product-card-sub-wrapper {
    @apply flex h-full flex-col overflow-hidden rounded-lg border-2 border-gray-500 hover:border-gray-600 bg-white shadow-lg hover:shadow-xl
  }

  .product-card-image-wrapper {
    @apply p-4
  }

  .product-card-image {
    @apply h-48 w-full rounded-lg object-cover
  }

  .product-card-content-wrapper {
    @apply flex grow flex-col p-4
  }

  .product-card-name {
    @apply mb-2 text-xl font-semibold
  }

  .product-card-price {
    @apply mb-2 text-gray-700
  }

  .product-card-contact {
    @apply bold-16 mt-4 rounded-full bg-yellow-500 px-4 py-2 text-center text-white 
    transition duration-300 hover:bg-yellow-500
  }

  /* PRODUCT FILTER STYLES */
  .product-filter-wrapper {
    @apply mr-10 w-full flex-col items-start mt-10
  }

  .product-filter-title {
    @apply block w-full border-b border-black pb-4 text-lg font-semibold text-gray-700
  }

  .product-filter-types-wrapper {
    @apply w-full border-b border-black
  }

  .product-filter-type-wrapper {
    @apply flex cursor-pointer py-4 text-lg font-semibold text-gray-700
  }

  .product-filter-type-text {
    @apply flex flex-1 justify-end text-black
  }

  .product-filter-option-name {
    @apply ml-2 text-gray-700
  }

  /* PRODUCT LIST STYLES */
  .product-list-available-text-wrapper {
    @apply flex items-end justify-between
  }

  .product-list-card-wrapper {
    @apply -mx-4 flex flex-wrap
  }

  .product-list-viewed-wrapper {
    @apply mt-6 flex justify-center text-gray-700
  }

  .product-list-load-button-wrapper {
    @apply mt-4 flex justify-center
  }

  /* PRODUCT STYLES */
  .product-section-wrapper {
    @apply flexCenter flex-col overflow-hidden pb-24
  }

  .product-wrapper {
    @apply max-container padding-container relative w-full justify-center
  }

  .product-mobile-wrapper {
    @apply max-container padding-container fixed inset-x-0 bottom-0 top-0 z-50 
    bg-white lg:hidden
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulsate {
  animation: pulsate 1.5s infinite;
}

/* #e3deca - light */
/* #c6bfa8 - darker */
